@charset "utf-8";
.eraser{
    display:none;
}
pre{
    color: royalblue;
}
body{
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
/*    background: blac;*/
}
article{
    display: block;
    width: 1010px;
    margin: 0 auto;
    padding-bottom: 50px;
}
span{
    color: mediumvioletred;
}
img{
    display:block;
    width: 300px;
    height: auto;
    margin:0 auto;
    padding: 20px;
}
.constructor figure{
    display:inline-block;
}
.title{
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    height: 100px;
    vertical-align: middle;
    line-height: 2;
    margin:0;
}
section{
    background: white;
    border-radius: 25px;
    padding:10px 15px 30px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 5px black;
}
a{
    text-decoration:none;
}
a:active, a:visited, a:link{
    color:green;
}
td{
    border: 1px solid black;
}
code, strong{
    display:block;
    margin-bottom: 5px;
}
em{
    display:block;
    margin-top: 10px;
}
figcaption{
    display:block;
    text-align: center;
    font-style:italic;
}