@charset "utf-8";

body{
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, Helvetica, Arial, sans-serif;
    background-image: url(day1_img/tex02.jpg);
    margin: 0;
    padding: 0;
}
wrap{
    display: block;
    width: 1010px;
    margin: 0 auto;
    padding-left: 50px;
    padding-bottom: 50px;
}

img{
    display:block;
    width: 600px;
    height: auto;
    margin:0 auto;
}
.title{
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    height: 100px;
    vertical-align: middle;
    line-height: 2;
    margin:0;
}
section{
    background: white;
    border-radius: 25px;
    padding:10px 15px 30px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 5px black;
    
}